

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{

  -webkit-appearance: none;
  margin: 0;

}

input[type=number] 
{

  -moz-appearance: textfield;

}
.custom-bg
{

background-color: yellow;
border: 1px solid yellow;

}
.custom-bg:hover
{

background-color: red;
border-color: red;

}
#dashboard-menu{
position: fixed;
height: 100%;
}

.custom-alert
{
position: fixed;
top: 100px;
right: 25px;
}